<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zengqiang.future.dao.PostMapper" >
  <resultMap id="BaseResultMap" type="com.zengqiang.future.pojo.Post" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="addr_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="num_praise" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="num_comment" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="is_enabled_comment" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, type, addr_id, content, num_praise, num_comment, is_enabled_comment, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zengqiang.future.pojo.Post" useGeneratedKeys="true" keyProperty="id">
    insert into post (id, user_id, type, 
      addr_id, content, num_praise, 
      num_comment, is_enabled_comment, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{addrId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{numPraise,jdbcType=INTEGER}, 
      #{numComment,jdbcType=INTEGER}, #{isEnabledComment,jdbcType=INTEGER}, now(),
     now())
  </insert>
  <insert id="insertSelective" parameterType="com.zengqiang.future.pojo.Post" >
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="addrId != null" >
        addr_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="numPraise != null" >
        num_praise,
      </if>
      <if test="numComment != null" >
        num_comment,
      </if>
      <if test="isEnabledComment != null" >
        is_enabled_comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="addrId != null" >
        #{addrId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="numPraise != null" >
        #{numPraise,jdbcType=INTEGER},
      </if>
      <if test="numComment != null" >
        #{numComment,jdbcType=INTEGER},
      </if>
      <if test="isEnabledComment != null" >
        #{isEnabledComment,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zengqiang.future.pojo.Post" >
    update post
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="addrId != null" >
        addr_id = #{addrId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="numPraise != null" >
        num_praise = #{numPraise,jdbcType=INTEGER},
      </if>
      <if test="numComment != null" >
        num_comment = #{numComment,jdbcType=INTEGER},
      </if>
      <if test="isEnabledComment != null" >
        is_enabled_comment = #{isEnabledComment,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>

        update_time = now()

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zengqiang.future.pojo.Post" >
    update post
    set user_id = #{userId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      addr_id = #{addrId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      num_praise = #{numPraise,jdbcType=INTEGER},
      num_comment = #{numComment,jdbcType=INTEGER},
      is_enabled_comment = #{isEnabledComment,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectPostsByUserId" parameterType="int" resultType="com.zengqiang.future.pojo.Post">
    SELECT
    <include refid="Base_Column_List"/>
    FROM post
    WHERE user_id=#{id}
  </select>
</mapper>